#carousel>img {
    width: 100vw;
    height: 100vh;
}

#start-logo {
    position: absolute;
    right: 50%;
    top: 20%;
    z-index: 10;
    opacity: 0.5;
}

#start-logo:hover {
    opacity: 1;
}

#carousel-text {
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: 10;
    color: white;
    font-size: 20px;
}

/* Style the navbar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background-color: #333;
}

#navbar nav {
    display: flex;
    flex-direction: row;
}

.bottom {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

#portfolio {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}



.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects {
    display: grid;
    height: auto;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;

}


.projects>button {
    width: 300px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
}

#product>h2 {
    text-align: center;
}

.reveal {
    position: relative;
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    opacity: 1;
}

.left {
    translate: -800px;
    transition: 3s all ease;
}

.left.active {
    transform: translateX(800px);
}

.right {
    translate: 150%;
    transition: 3s all ease;
}

.right.active {
    transform: translateX(-75%);
}

.hidden {
    display: none;
}